/* Estilos para el Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #3ccfad;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  height: 110px;
  width: auto;
}

.header-title {
  font-size: 1.5rem;
  text-align: center;
}

.header-button {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.2rem ;
  color: #283430;
  background-color: #47e08c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
  bottom: 50%;
}

.header-button:hover {
  background-color: #358d9f;
}